.para-1{
    font-size: 15px;
    font-weight: 400;
}
.para-2{
    font-size: 10px;
}

.box{
    padding-top: 150px;
}
.title{
    font-size: 34px;
    font-weight: bolder;
}
.link-style{
    text-decoration: none;
}

.social-media{
    list-style: none;
    display: flex;
}
.sm-icon{
    
    cursor: pointer;

}
.download{
    margin-left: 400px;
}